* {
    font-family: sans-serif;
}
.title {
    text-align: center;
    margin: 40px auto 40px;   
}
.flip-card {
    width: 300px;
    height: 350px;
    margin: auto;
}
.flip-card-back {
    /* width: 300px !important;
    height: 450px !important; */
    background-color: #ff5722;
    color: #fff;  
    text-align: center;
    transform: rotateY(180deg);
    z-index: 0;
}
.back-header {
    height: 65%;
    text-align: center;
}
.flip-card-back .back-header img {
    width: 50%;
    margin-top: 20px;
}
.flip-card-inner {
    position: relative;
    height: 100%;
    transition: transform .6s;
    transform-style: preserve-3d;
}
.flip-card-back, .flip-card-front {
    position: absolute; 
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
    z-index: 1;
}